<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProxyDesignPatternVer1</display-name>
  
  <servlet>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>com.jalbum.servlet.GalleryServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/gallery</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DownloadImgaeGallery</servlet-name>
    <servlet-class>com.jalbum.servlet.DownloadImgaeGallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImgaeGallery</servlet-name>
    <url-pattern>/downloads</url-pattern>
  </servlet-mapping>
  
</web-app>